:host {
  display: block;
}

body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: rgb(0 0 0 / 25%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-image {
  background-image: url('/assets/hero-image.jpg');
  alt: "Hero Image for Home Component";
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
